<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Register</h1>
          <form (submit)="register()">
            <div class="form-group">
              <label for="firstname">First Name:</label>
              <input type="text" id="firstname" name="firstname" class="form-control" [(ngModel)]="registerRequest.firstname" required>
            </div>
            <div class="form-group">
              <label for="lastname">Last Name:</label>
              <input type="text" id="lastname" name="lastname" class="form-control" [(ngModel)]="registerRequest.lastname" required>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" class="form-control" [(ngModel)]="registerRequest.email" required>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" class="form-control" [(ngModel)]="registerRequest.password" required>
            </div>
            <div class="form-group">
              <label for="role">Role:</label>
              <select id="role" name="role" class="form-control" [(ngModel)]="registerRequest.role" required>
                <option value="ADMIN">Admin</option>
                <option value="USER">User</option>
                <option value="MANAGER">MANAGER</option>
                <!-- Add more options as needed -->
              </select>
            </div>
            <div *ngIf="registrationError" class="alert alert-danger">{{ registrationError }}</div>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
